body{
    padding: 100px;
    background-image: linear-gradient(135deg, #F6B8B8, #1A8FF5);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1170px;
    display: flex;
    justify-content: center;
    margin: 0 auto
}

.card{
    background-color: #1A8FF5;
    width: 350px;
    color: white;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: -7px 30px 19px 2px rgba(0,0,0,0.75);
-moz-box-shadow: -7px 30px 19px 2px rgba(0,0,0,0.75);
box-shadow: -7px 30px 19px 2px rgba(0,0,0,0.75);
}

.top{
    background-image: linear-gradient(45deg, #F1A49B,#F54C4A);
    padding-bottom:100px;
}

.nav{
    display: flex;
    justify-content:space-between;
   align-items: center;
   padding :10px 20px;
}

.user{
    font-size: 20px;
}

#unit-converter{
    border:none;
    background: none;
    font-size: 24px;
    color: white;
    margin-bottom: 30px;
}

#unit-converter option{
    margin: 40px;
    background: rgba(0,0,0,0.3);
    color: white;
    text-shadow: rgba(0,0,0,0.4)

}

#main-unit{
    border: none;
    background: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 40px;
    width: 160px;
}

#second-unit{
    border: none;
    border-bottom: 1px solid #F54C4A;
    background: none;
    color: #F54C4A;
    font-size: 40px;
    width: 160px;
}

.main-unit-options{
    border: none;
    background: none;
    color: white;
}

.secont-unit-options{
    border: none;
    background: none;
    color: #F54C4A;

}
.bottom{
    background-color: white;
    padding: 80px 15px;
}